@import 'https://fonts.googleapis.com/css?family=Yellowtail';
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,700';

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********/

/** CUSTOM FONT **/
@font-face {
  font-family: 'piscosour';
  src:  url('fonts/piscosour.eot');
  src:  url('fonts/piscosour.eot#iefix') format('embedded-opentype'),
    url('fonts/piscosour.ttf') format('truetype'),
    url('fonts/piscosour.woff') format('woff'),
    url('fonts/piscosour.svg#piscosour') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'piscosour' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cycle:before {
  content: "\e904";
}
.icon-apps:before {
  content: "\e901";
}
.icon-clipboard-list:before {
  content: "\e902";
}
.icon-lock-rounded-open:before {
  content: "\e903";
}
.icon-thumb-up:before {
  content: "\e905";
}
.icon-piscosour:before {
  content: "\e900";
}
.icon-star-full:before {
  content: "\e907";
}
.icon-power:before {
  content: "\e906";
}
.icon-star-full:before {
  content: "\e907";
}
 /**********/

 /** MARKDOWN TOMORROW **/
 /* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
/*************/

 /** MARKDOWN **/
 code {
	 background-color: #d6d6d6;
	 padding: 2px 9px;
	 border-radius: 5px;
 }

 pre code {
   display: block;
   background: white;
   color: #4d4d4c;
   font-family: Menlo, Monaco, Consolas, monospace;
 	 font-size: 12px;
   line-height: 1.5;
   border: 1px solid #ccc;
 	 border-radius: 5px;
 	 box-shadow: 0px 0px 10px 0px #AAA;
   padding: 10px;
   margin: 15px 0;
 }

 /*************/

html, body {height: 100%}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
	color: #454545;
	font-size: 14px;
}

a {
	text-decoration: none;
}

.logo {
	display: inline-block;
	width: 100px;
}

.main-content {
	background-color: #74b328;
	color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
	height: 100%;
}

  .main-content h1 {
    font-family: 'Yellowtail', cursive;
    margin: 0;
    font-size: 100px;
  }

  .main-content h2 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 100;
  }

	.actions {
		display: flex;
		justify-content: center;
		width: 440px;
	}

	.action-button {
		display: block;
		text-decoration: none;
		color: #74b328;
		border: 2px solid currentColor;
		border-radius: 5px;
		font-size: 18px;
		padding: 15px 30px;
		background-color: #FFF;
		margin: 10px 0;
		transition: 0.3s
	}

	.action-button:hover {
		background-color: #74b328;
		color: #FFF;
	}

.terminal {
	width: 440px;
	height: 120px;
	background: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #e8e8e8,0 1px 3px rgba(0,0,0,0.054);
	box-shadow: inset 0 0 0 1px #e8e8e8,0 1px 3px rgba(0,0,0,0.054);
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin: 40px auto 20px auto;
	position: relative;
	-webkit-animation: fadeUp 1200ms ease;
	-moz-animation: fadeUp 1200ms ease;
	-o-animation: fadeUp 1200ms ease;
	-ms-animation: fadeUp 1200ms ease;
	animation: fadeUp 1200ms ease;
	color: #555;
}

.terminal::after {
	content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 440px;
  height: 40%;
	background: -webkit-linear-gradient(top, rgba(252,252,252,0) 0%, #FFF 50%, #74b328 100%);
  background: -moz-linear-gradient(top, rgba(252,252,252,0) 0%, #FFF 50%, #74b328 100%);
  background: -o-linear-gradient(top, rgba(252,252,252,0) 0%, #FFF 50%, #74b328 100%);
  background: -ms-linear-gradient(top, rgba(252,252,252,0) 0%, #FFF 50%, #74b328 100%);
  background: linear-gradient(to bottom, rgba(252,252,252,0) 0%, #FFF 50%, #74b328 100%);
}

	.terminal_header {
		padding: 5px 0;
		border-bottom: 1px solid rgba(0,0,0,0.054);
	}

	.terminal_button {
		color: #cacaca;
		margin-left: 10px;
	}
	.terminal_button.big {
		font-size: 20px;
	}

	.terminal_content {
		padding: 20px 10px;
	}
.why {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: 0 auto;
	margin-top: 10px;

}

  .why .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 40px 0;
  }

  .why .benefict {
    flex-grow: 1;
    text-align: center;
    color: #74b328;
    width: 33%;
		font-size: 18px;
  }

  .why .benefict i {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #74b328;
    color: #FFF;
    border-radius: 50%;
    padding: 15px 10px;
    width: 50px;
    display: block;
    font-size: 40px;
  }

/* Docs */
.docs {
	height: 100%;
	display: flex;
	align-items: stretch;
	line-height: 24px;
}

	.docs aside {
		width: 20%;
		background-color: #F2F2F2;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
	}

	.docs aside .logoContainer{
		text-align: center;
		background-color: #74b328;
		height: inherit;
		line-height: inherit;
		padding: 30px 0;
	}

		.docs aside .logoContainer a {
			display: block;
			color: #FFF;
			font-size: 70px;
			font-family: 'Yellowtail';
		}

		.docs aside .logoContainer .selector {
			font-family: 'Raleway';
			font-size: 20px;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.docs aside .logoContainer .selector a {
			font-family: 'Raleway';
			font-size: 20px;
		}

		.docs aside .main_menu > li {
			line-height: 35px;
			margin-bottom: 15px;
		}
		.docs aside .main_menu > li.open {
			background-color: #FFF;
			position: relative;
			color: #74b328;
			border-bottom: 1px solid #ddd;
		}

			.docs aside .main_menu > li h4 {
				padding-left: 15px;
				font-size: 16px;
				color: #bf7a69;
				line-height: 18px;
				margin: 40px 0 10px 0px;
			}
			.docs aside .main_menu > li h5 {
				color: #adadad;
				font-weight: bold;
				font-size: 14px;
				margin-left: 30px;
				line-height: 14px;
				margin-top: 20px;
			}
			.docs aside .main_menu > li a {
				color: #8da273;
				text-decoration: none;
				cursor: pointer;
				display: block;
				transition: 0.3s;
				font-size: 14px;
				font-weight: 100;
				line-height: 18px;
				padding: 10px 0 10px 30px;
			}
			.docs aside .main_menu > li a:hover {
				color: #74b328;
				margin-left: 5px;
			}

			.docs aside .main_menu > li a.selected {
				font-weight: bold;
				color: #74b328;
				background-color: #FFF;
				position: relative;
			}
	.docs aside .switch_target {
		text-align: center;
    margin: 20px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    color: #bf7a69;
	}

	.docs aside .switch_target:hover {
		color: #75463b;
	}

	.docs article {
		width: 80%;
    padding: 20px 30px;
		overflow-y: scroll;
		-webkit-box-shadow: -5px 0px 20px -1px rgba(0,0,0,0.2);
		-moz-box-shadow: -5px 0px 20px -1px rgba(0,0,0,0.2);
		box-shadow: -5px 0px 20px -1px rgba(0,0,0,0.2);
	}

    .docs article p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 5px;
    }
    .docs article img {
      display: block;
      margin: 40px auto;
      border: 1px solid #74b328;
      border-radius: 3px;
      padding: 5px;
    }

		.docs article a {
			color: #8da273;
			text-decoration: underline;
		}

		.docs article ul {
			margin: 15px 0 15px 16px;
			list-style: circle;
		}
			.docs article a:hover {
				text-decoration: none;
			}


	.docs .docs-main-content {
		margin: 20px;
		font-weight: 100;
	}

	.docs h1 {
		font-size: 25px;
		color: #74b328;
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
		margin-bottom: 40px;
	}

	.docs h2 {
		font-size: 30px;
		font-weight: 300;
		margin: 50px 0 20px 0;
		border-bottom: 0.5px solid #d6d6d6;
		padding-bottom: 10px;
	}

	.docs h3 {
		font-weight: bold;
		font-size: 18px;
		margin: 25px 0 10px 0;
	}

	.docs h4 {
		font-weight: bold;
	}

	.docs table {
		margin: 5px 0 25px 0;
	}
		.docs table thead {
			border-bottom: 1px solid lightgrey;
		}
		.docs table th,
		.docs table td {
			padding: 0 25px 0 10px;
			text-align: left;
		}
		.docs table th {
			font-weight: bold;
		}
		.docs table td {
			border-right: 1px solid lightgrey;
		}
		.docs table td:last-child {
			border-right: none;
		}

		.docs table tbody tr {
			border-bottom: 1px solid lightgrey;
		}

	.docs .step {
		margin-bottom: 50px;
	}

	.docs .important {
		padding: 10px 20px;
		border-top: 5px solid;
		border-radius: 5px;
		margin: 20px 0;
	}

	.docs .important.danger {
		background-color: #ffebef;
		border-color: #f39090;
	}

	.docs .important.info {
		background-color: #ebf4ff;
		border-color: #90bdf3;
	}

	.docs .important.tip {
		background-color: #fff3eb;
		border-color: #f3c590;
	}

	.docs code:before,
	.docs code:after {
		content: "";
		letter-spacing: -0.2em;
	}
